<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <!-- <link type="text/css" href="/css/style.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,300,0,0" />
    <title>Login Form</title>
</head>
<body>
    <div class="signin-card-container">
        <div class="signin-card">
            <div class="signin-card-logo">
                <img src="images/logo.png" alt="logo">
            </div>
            <div class="signin-card-header">
                <h1>Sign In</h1>
                <div>Please sign in to use platform</div>
            </div>
            <form class="signin-card-form" action="signin" method="POST">
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">people</span>
                    <input type="nickname" placeholder="Enter Nickname" name="nick" required>
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input type="email" placeholder="Enter Email" name="mail" required autofocus>
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" placeholder="Enter Password" name="password" required>
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" placeholder="Repeat Password" name="password" required>
                </div>
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>
</body>
</html>