<div class="signin-card-container">
    <div class="signin-card">
        <div class="signin-card-logo">
            <img src="images/logo.png" alt="logo">
        </div>
        <div class="signin-card-header">
            <h1>Sign In</h1>
            <div>Please sign in to use platform</div>
        </div>
        <form class="signin-card-form" action="signin" method="POST">
            <div class="form-item">
                <span class="form-item-icon material-symbols-rounded">people</span>
                <input type="nickname" placeholder="Enter Nickname" name="nick" required>
            </div>
            <div class="form-item">
                <span class="form-item-icon material-symbols-rounded">mail</span>
                <input type="email" placeholder="Enter Email" name="mail" required autofocus>
            </div>
            <div class="form-item">
                <span class="form-item-icon material-symbols-rounded">lock</span>
                <input type="password" placeholder="Enter Password" name="password" required>
            </div>
            <div class="form-item">
                <span class="form-item-icon material-symbols-rounded">lock</span>
                <input type="password" placeholder="Repeat Password" name="password" required>
            </div>
            <button type="submit">Sign In</button>
        </form>
    </div>
</div>